.unitValue{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.unitValue button{
    margin-left: 20px;
}

.btn-container{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}